*{
    box-sizing: border-box;
}

.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

.bod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgoldenrodyellow;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;;
    padding: 10px;   

    /* margin-left: 13%;
    margin-right: 13%; */
    border-radius: 1.5em;
    width: 75%;
}

.heading{
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin: 2%;
}

.sub-heading{
    font-weight: lighter;
    font-size: 25px;
    text-align: left;
}

.sub-title{
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
}

.note{
    font-weight:lighter;
    text-align: justify;
    font-size: 20px;
}

.personal-details{
    font-size: 20px;
    border: 1px solid rgb(173, 173, 173);
    /* padding: 3%; */
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.essay{
    display: flex;
    flex-direction: column;
    flex: 0;
    border: 1px solid rgb(173, 173, 173);
    margin-top:10px ;
    width: 90%;
    
}
.textarea{
    resize: vertical;
}

.submit{
    background-color: red;
    color: white;
    border:none ;
    border-radius: 2px;
    font-size: 20px;
    margin: 0;
}

.resume{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border:none ;
    border-radius: 2px;
    font-size: 20px;
}