*{
    box-sizing: border-box;
}

.body{
    padding: 0;
    margin: 0;
}



.scroll-down{
    background-image: url(./photos/bg1.jpg.jpeg);
    min-height: 550px;

    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    
}



.title{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 200%;
    width: 20%;
}


.parallax-demo{
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-direction: column;

}

.pd{
    font-size: 20px;
    color: rgb(56, 56, 56);
    text-align: center;
}

.para{
    color: rgb(126, 126, 126);
    font-size: 15px;
    text-align: justify;
    width: 90%;
    align-self: center;

}

.less-height{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}

.lh{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;

}

.parallax-demo2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.pd2{
    font-size: 20px;
    text-align: center;
}




.para2{
    color: rgb(126, 126, 126);
    font-size: 15px;
    text-align: justify;
    width: 90%;
    align-self: center;
}


.scroll-up{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.su{
    font-size: 20px;
    text-align: center;
}

.only-para{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.para3{
    color: rgb(126, 126, 126);
    font-size: 15px;
    text-align: justify;
    width: 90%;
    align-self: center;

}

.cool{
    display: flex;

    justify-content: space-around;
}

.cl{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;    
}
