* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #02afda;
}

h1 {
    margin-top: 20px;
    color: #02afda;
}

span {
    color: blueviolet;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    box-shadow: #02afda 5px 5px 10px;
}

svg{
    width: 50px;
    padding: 5px 5px;
    fill: blueviolet;
    background-color: #02afda;
    border-radius: 15px 0px 0px 15px ;
    display: flex;
    align-self: center;
}
.search-container {
    margin-top: 20px;
    display: flex;
    padding: 10px 0px;
}

input {
    font-size: 1.1rem;
    padding: 10px 5px;
    color: #02afda;
    background-color: whitesmoke;
    border: 3px #02afda solid;
    border-radius: 0px 15px 15px 0px;

}

#weather-info {
    display: none;
    margin-top: 30px;
    width: 100%;
    animation: fade-in 0.5s forwards;
    justify-content: space-evenly;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}


.info-block {
    /* padding: 10px; */
    text-align: center;
    width: 110px;
    box-shadow: 0px 0px 10px 2px rgb(211, 211, 211);
    /* margin: 5px; */
    border-radius: 15px;

}

.info-header {
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
}


.sub-info-header {
    color: #02afda;
}

.min-max {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#rain-description,
#windspeed-info,#lat,#lon {
    margin-top: 15px;
}